!!!
%html
  %head
    %link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Freckle+Face")
    %link(rel="stylesheet" type="text/css" href="/css/scss/test.css")
    %title Testing CSS Site 0.01
  %body
    %h1 HeadLine Test
    #box
      %nav
        %ul
          %li
            %a{:href=>"/Home"} Home
          %li
            %a{:href=>"/About"} About
          %li
            %a{:href=>"/Contact"} Contact
      .box1
        This is a box
